<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
 
 </system.webServer>
	<system.net>
		<settings>
		</settings>
	</system.net>

	<connectionStrings>
		<add name="MainConn" providerName="System.Data.SqlClient" connectionString="Server=.\SQLExpress;Database=DataLog;User ID=DataLog;Password=DataLog" />
	</connectionStrings>

	<system.web>
		
  <httpRuntime requestValidationMode="2.0" />
		<pages>
   
  </pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
			</assemblies>
		</compilation>
	
	
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
		<customErrors mode="Off" defaultRedirect="/default.aspx?err=Unspecified">
		</customErrors>
	</system.web>
</configuration>
